*{
    text-decoration: none !important;
}
.mycontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .student{
        background-color: gainsboro;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
        border-radius: 10px;
        .img-con{
            width: 15rem;
            height: 15rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 100%;
        }
        .name{
            color: #000;
            margin: 1rem 0;
            font-size: 1.5rem;
        }
    }
}